<section>
<center><h1>关于</h1></center>
<center>
<img src="index/cc544a61403ef581b24d56b3bb6f6b8.jpg" alt="cc544a61403ef581b24d56b3bb6f6b8" style="zoom: 20%;" class="nofancybox"/>
</center>
<center>
大家好，我是<b>文师傅</b><br>
<div style="height:10px"></div>
</center>
<center>
这是一份自我介绍<br>
<div style="height:10px"></div>
</center>
<center>
我来自安徽<br>
<div style="height:10px"></div>
</center>
<center>
目前在上海的一家能源单位实习<br>
<div style="height:10px"></div>
</center>
<center>
兴趣爱好有 🎵 听音乐，📕 看小说等等<br>
<div style="height:10px"></div>
</center>
<center>
最喜欢的游戏是 Minecraft<br>
<div style="height:10px"></div>
</center>
<center>
闲暇的时候喜欢在河边散步<br>
<div style="height:10px"></div>
</center>
<center>
希望能和各位做个朋友 ^__^ <br>
<div style="height:10px"></div>
</center>
<center>
<div style="display:flex;justify-content: space-evenly;margin:30px 0 20px 0;width:50%">
<a target="_blank" rel="noopener" href="https://github.com/LRay-iu" >
    <img src="/images/icon/github.svg" alt="github" class="nofancybox img_icon">
</a>
<a target="_blank" rel="noopener" href="mailto:1159074129@qq.com" >
    <img src="/images/icon/email.svg" alt="github" class="nofancybox img_icon">
</a>
<a target="_blank" rel="noopener" href="https://res.abeim.cn/api/qq/?qq=2955930388">
    <img src="/images/icon/QQ.svg" alt="github" class="nofancybox img_icon">
</a>
</div>
</center>
</section>
<section class="outer">
    <hr class="dashed-line">
    <center><h2>友链</h2></center>
    <div class="card-quote">
        <blockquote>
            <p><img src="/images/avator/TomMillion.jpg" alt="TomMillion" class="nofancybox" style="border-radius: 15px;"></p>
            <h4>Downey</h4>
            <p>大杯牛乳红茶 去冰 三分糖<br>
                <a target="_blank" rel="noopener" href="https://tangricheng.com/">https://tangricheng.com/</a>
            </p>
            </blockquote>
        <blockquote>
            <p><img src="https://lib.dnf.doyi.online/imgs/avatar/dnf-avatar.jpeg" alt="github" class="nofancybox" style="border-radius: 15px;"></p>
            <h4>东南dnf</h4>
            <p>向着全栈迈进的码农<br>
                <a target="_blank" rel="noopener" href="https://dnf.doyi.online/">https://dnf.doyi.online/</a>
            </p>
            </blockquote>
        <blockquote>
            <p><img src="/images/avator/nicholas-wei.png" alt="nicholas-wei" class="nofancybox" style="border-radius: 15px;"></p>
            <h4>nicholas-wei</h4>
            <p>勤能补拙是良训，一分辛苦一分才<br>
                <a target="_blank" rel="noopener" href="https://nicholas-wei.github.io">https://nicholas-wei.github.io</a>
            </p>
            </blockquote>
    </div>
    <div style="height: 100px;"></div>
</section>

<style>
    .img_icon{
        width:30px;
        height:30px;
        border-radius:15px;
    }
    .dashed-line {
    border: none;
    border-top: 1px dashed #000; /* 1像素黑色虚线 */
    width: 80%; /* 设置宽度为50% */
    margin: 20px auto; /* 上下外边距为20像素，水平居中 */
}

</style>