<section class="outer" style="min-height:90vh;">
    <h1 class="page-type-title">收藏</h1>
    <h2>网页</h2>
    <div class="card-quote">
        <blockquote>
            <p><img src="/images/icon/github.svg" alt="github" class="nofancybox"></p>
            <h4>Github</h4>
            <p>全球最大同性交友平台<br>
                <a target="_blank" rel="noopener" href="https://github.com/">https://github.com/</a>
            </p>
            </blockquote>
    </div>
    <h2>工具包</h2>
    <div class="card-quote">
        <blockquote>
            <p><img src="/images/icon/Remix.svg" alt="Remix" class="nofancybox"></p>
            <h4>Remix IDE</h4>
            <p>智能合约快速部署<br>
                <a target="_blank" rel="noopener" href="https://remix.ethereum.org/">https://remix.ethereum.org/</a>
            </p>
            </blockquote>
            <blockquote>
                <p><img src="/images/icon/zuotang.svg" alt="zuotang" class="nofancybox"></p>
                <h4>佐糖</h4>
                <p>图片高清修复<br>
                    <a target="_blank" rel="noopener" href="https://picwish.cn/photo-enhancer/">https://picwish.cn/photo-enhancer/</a>
                </p>
                </blockquote>
                <blockquote>
                    <p><img src="/images/icon/chatgpt.svg" alt="chatgpt" class="nofancybox"></p>
                    <h4>OpenAI</h4>
                    <p>chatgpt<br>
                        <a target="_blank" rel="noopener" href="https://chat.openai.com/">https://chat.openai.com/</a>
                    </p>
                    </blockquote>
                <blockquote>
                    <p><img src="/images/icon/eth-converter.svg" alt="eth-converter" class="nofancybox"></p>
                    <h4>eth-converter</h4>
                    <p>以太坊货币换算<br>
                        <a target="_blank" rel="noopener" href="https://eth-converter.com/">https://eth-converter.com/</a>
                    </p>
                    </blockquote>
                    <blockquote>
                        <p><img src="/images/icon/photokit.svg" alt="photokit" class="nofancybox"></p>
                        <h4>photokit</h4>
                        <p>颜色选择器<br>
                            <a target="_blank" rel="noopener" href="https://photokit.com/colors/color-picker/?lang=zh">https://photokit.com/colors/color-picker/?lang=zh</a>
                        </p>
                        </blockquote>
                    <blockquote>
                        <p><img src="/images/icon/youdao.svg" alt="youdao" class="nofancybox"></p>
                        <h4 >有道</h4>
                        <p>有道翻译器<br>
                            <a target="_blank" rel="noopener" href="https://fanyi.youdao.com/indexLLM.html#/">https://fanyi.youdao.com/</a>
                        </p>
                        </blockquote>
                    <blockquote>
                        <p><img src="/images/icon/IdNumGenerate.svg" alt="IdNumGenerate" class="nofancybox"></p>
                        <h4 >身份证生成器</h4>
                        <p>生成随机身份证号<br>
                            <a target="_blank" rel="noopener" href="https://hou-xx.github.io/IdNumGenerate/">https://hou-xx.github.io/IdNumGenerate/</a>
                        </p>
                        </blockquote>
                    <blockquote>
                        <p><img src="/images/icon/highlightcode.svg" alt="highlightcode" class="nofancybox"></p>
                        <h4 >代码高亮</h4>
                        <p>高亮美化代码<br>
                            <a target="_blank" rel="noopener" href="https://highlightcode.com/">https://highlightcode.com/</a>
                        </p>
                        </blockquote>
                    <blockquote>
                        <p><img src="/images/icon/Abeim.svg" alt="Abeim" class="nofancybox"></p>
                        <h4 >AbeimAPI</h4>
                        <p>稳定、快速、免费的 API 接口服务<br>
                            <a target="_blank" rel="noopener" href="https://res.abeim.cn/api">https://res.abeim.cn/api</a>
                        </p>
                        </blockquote>
    </div>
    <h2>图标库</h2>
    <div class="card-quote">
        <blockquote>
            <p><img src="/images/icon/iconfont.svg" alt="iconfont" class="nofancybox"></p>
            <h4>iconfont</h4>
            <p>阿里矢量图标库<br>
                <a target="_blank" rel="noopener" href="https://www.iconfont.cn/">https://www.iconfont.cn/</a>
            </p>
            </blockquote>
        <blockquote>
            <p><img src="/images/icon/blendicon.svg" alt="blendicon" class="nofancybox"></p>
            <h4>Blend Icons</h4>
            <p>BY 玲珑岛<br>
                <a target="_blank" rel="noopener" href="https://blendicons.blendviewer.com/">https://blendicons.<br>blendviewer.com/</a>
            </p>
            </blockquote>
    </div>



    <div style="height: 100px;"></div>
</section>

<style>
    h2{
        margin-left: 2vw;
        margin-top: 1vh;
    }
</style>