<section class="outer" style="min-height:90vh;">
    <h1 class="page-type-title">友链</h1>
    <div class="card-quote">
        <blockquote>
            <p><img src="/images/avator/TomMillion.jpg" alt="TomMillion" class="nofancybox" style="border-radius: 15px;"></p>
            <h4>Downey</h4>
            <p>大杯牛乳红茶 去冰 三分糖<br>
                <a target="_blank" rel="noopener" href="https://tangricheng.com/">https://tangricheng.com/</a>
            </p>
            </blockquote>
        <blockquote>
            <p><img src="https://lib.dnf.doyi.online/imgs/avatar/dnf-avatar.jpeg" alt="github" class="nofancybox" style="border-radius: 15px;"></p>
            <h4>东南dnf</h4>
            <p>向着全栈迈进的码农<br>
                <a target="_blank" rel="noopener" href="https://dnf.doyi.online/">https://dnf.doyi.online/</a>
            </p>
            </blockquote>
        <blockquote>
            <p><img src="/images/avator/nicholas-wei.png" alt="nicholas-wei" class="nofancybox" style="border-radius: 15px;"></p>
            <h4>nicholas-wei</h4>
            <p>勤能补拙是良训，一分辛苦一分才<br>
                <a target="_blank" rel="noopener" href="https://nicholas-wei.github.io">https://nicholas-wei.github.io</a>
            </p>
            </blockquote>
    </div>
    <div style="height: 100px;"></div>
</section>
