.navbar
  position relative
  padding-top 3rem
  text-align center
  .nav
    list-unstyled()
    .nav-item-link
      display block
      padding 1rem;
      color sea-dark
      text-decoration none
      cursor pointer
      &:hover
        color link-hover-color
    &.nav-main
      .nav-item-link
        &::before, i.fe
          display block
          line-height 1
        &::before
          font-family 'feathericon'
      .nav-item
        &:nth-child(1)         // home
          .nav-item-link
            &::before
              content '\e900'
        &:nth-child(2)         // file
          .nav-item-link
            &::before
              content '\e92f'
        &:nth-child(3)         // gallery
          .nav-item-link
            &::before
              content '\e90d'
         &:nth-child(4)         // mark
           .nav-item-link
             &::before
               content '\e9d2'
        &:nth-child(5)         // categories  
          .nav-item-link
            &::before
              content '\e9bb'
        &:nth-child(6)         // tags
          .nav-item-link
            &::before
              content '\e935'

         &:nth-child(7)         // links
           .nav-item-link
             &::before
              content '\e9cd'

         &:nth-child(8)         //postcard
           .nav-item-link
             &::before
              content '\e923'
        &:nth-child(9)         // about
          .nav-item-link
            &::before
              content '\e971'
        &:nth-child(10)         // search
          .nav-item-link
            &::before
              content '\e986'

.navbar-bottom
  position absolute
  bottom 0
  width 100%

.logo
  text-align center
  img
    width brand-size

