<div class="local-search local-search-plugin">
  <input type="search" id="local-search-input" class="local-search-input" placeholder="手机端似乎不支持该功能，我深感抱歉">
  <div id="local-search-result" class="local-search-result"></div>
</div>